@import "../public/fonts.css";
@import "tailwindcss";

@theme {
  --font-secondary: "ClashDisplay-Regular", "Satoshi", "sans-serif";
  --font-primary: "Satoshi-Regular", sans-serif;
  --font-canopee: "Canopee";

  --color-rabbit-red: #ea2e0e;
}
.bg-color{
  background-color: gray;
}