@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("../public/Fonts/ClashDisplay-Regular.woff2") format("woff2"),
    url("../public/Fonts/ClashDisplay-Regular.woff") format("woff");

  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("../public/Fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../public/Fonts/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Canopee";
  src: url("../public/Fonts/Canopee.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
